n8n-workflows/employee_sync_workflow.json
{
  "name": "Final Employee Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3001/employees/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.validItems.toJsonString() }}",
        "options": {}
      },
      "id": "cc1e8806-8f0f-490b-abea-f141fc0d4c19",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 560]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "11iiQ37L7GzO1OE6cyOeumfSlP-4JWGS3foIn5lI4SKw",
          "mode": "list",
          "cachedResultName": "Employee_Master_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11iiQ37L7GzO1OE6cyOeumfSlP-4JWGS3foIn5lI4SKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11iiQ37L7GzO1OE6cyOeumfSlP-4JWGS3foIn5lI4SKw/edit#gid=0"
        },
        "options": {}
      },
      "id": "9ba08bf8-3baa-4d32-8b8e-7272c1cfbc04",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-480, 560],
      "credentials": {
        "googleApi": {
          "id": "Umdu9Kgsl94ijMRb",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.errors.length > 0 }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "name": "Check for Validation Errors1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [0, 900],
      "id": "96b2dd86-6ebe-4bf8-bc1e-beab11597167"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [260, 900],
      "id": "ee249d8e-c1d2-4e13-afd5-7dfb1cba029b",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode == 201 }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check API Response1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [260, 560],
      "id": "31d3e6bd-bd96-4767-93fd-ab42aee71550"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3005/email/send-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $('Validate and Transform').item.json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflowName\": \"Employee Sync Workflow\"\n}",
        "options": {}
      },
      "name": "Send Success Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 460],
      "id": "3a8a95f5-8a2f-489f-8721-ca10166a9e26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3005/email/send-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $('Validate and Transform').item.json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"error\": \"An error occurred during the workflow.\",\n  \"workflowName\": \"Employee Sync Workflow\"\n}",
        "options": {}
      },
      "name": "Send Error Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 660],
      "id": "46d8bd42-f7e4-4c51-a23e-d3cf9bb02ad4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 0
            }
          ]
        }
      },
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-1420, 560],
      "id": "e34f0f15-668a-452b-8fc8-e4d694f45185"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "queryString": "Employee_Master_List",
        "filter": {},
        "options": {}
      },
      "id": "34e3a494-08ba-4989-92d1-f19d9fbe6577",
      "name": "Check for Folder and File2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-960, 560],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "Umdu9Kgsl94ijMRb",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1fd6c03e-8598-49da-a2a1-bac2edfe8c21",
              "leftValue": "={{$json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfbde08b-397b-4f25-a4d6-1ef2fb80b1ed",
      "name": "If Exists2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-740, 560]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0d255f04-41b2-4f32-aea4-efe224bb20e8",
        "options": {}
      },
      "id": "fefad8c2-cc23-46b4-9a74-01595a1571e6",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1420, 760],
      "webhookId": "0d255f04-41b2-4f32-aea4-efe224bb20e8",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3001/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "admin@example.com"
            },
            {
              "name": "password",
              "value": "AdminPassword123!"
            }
          ]
        },
        "options": {}
      },
      "name": "Login to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1160, 560],
      "id": "1c2cefda-1b5c-4440-bf04-08c39021ae6c"
    },
    {
      "parameters": {
        "jsCode": "const accessToken = $node['Login to API'].json.access_token;\nif (!accessToken) {\n  throw new Error('Failed to obtain access token');\n}\n\nfunction normalizeKey(key) {\n  return key.replace(/(?:^\\w|[A-Z]|\\b\\w)/g, (letter, index) => \n    index === 0 ? letter.toLowerCase() : letter.toUpperCase()\n  ).replace(/\\s+/g, '');\n}\n\nfunction processCertifications(row) {\n  const certifications = [];\n  const certificationFields = new Set();\n  \n  // Collect all certification related fields\n  Object.keys(row).forEach(key => {\n    if (key.startsWith('certifications.')) {\n      certificationFields.add(key);\n    }\n  });\n  \n  // Get unique certification indices\n  const certIndices = new Set(\n    Array.from(certificationFields).map(field => {\n      const match = field.match(/^certifications\\.(\\d+)\\./);\n      return match ? parseInt(match[1]) : null;\n    }).filter(index => index !== null)\n  );\n  \n  // Process each certification\n  Array.from(certIndices).sort((a, b) => a - b).forEach(index => {\n    const cert = {};\n    const prefix = `certifications.${index}.`;\n    \n    // Check each potential field for this certification\n    certificationFields.forEach(field => {\n      if (field.startsWith(prefix)) {\n        const fieldName = field.substring(prefix.length);\n        const value = row[field];\n        \n        // Only include non-empty values\n        if (value !== null && value !== undefined && value !== '' && value !== '[empty]') {\n          cert[fieldName] = value;\n        }\n      }\n    });\n    \n    // Only add certification if it has any non-empty fields\n    if (Object.keys(cert).length > 0) {\n      certifications.push(cert);\n    }\n  });\n  \n  return certifications;\n}\n\nconst finalOutput = {};\nconst errors = [];\nlet recordCounter = 1;\n\n$input.all().forEach((item, index) => {\n  const row = item.json;\n  \n  const keyMapping = Object.keys(row);\n  const rowValues = Object.values(row);\n  \n  const empIdIndex = keyMapping.findIndex(key => {\n    const normalizedKey = normalizeKey(key);\n    return normalizedKey === 'employeeId';\n  });\n  \n  const employeeId = rowValues[empIdIndex !== -1 ? empIdIndex : 1];\n  if (typeof employeeId !== 'number' || isNaN(employeeId)) {\n    errors.push({\n      index,\n      error: 'Invalid or missing employeeId',\n      data: row\n    });\n    return;\n  }\n  \n  try {\n    const certifications = processCertifications(row);\n    const validatedDocument = {};\n    \n    Object.keys(row).forEach(key => {\n      // Skip certification dot notation fields\n      if (key.startsWith('certifications.')) {\n        return;\n      }\n      \n      let normalizedKey = normalizeKey(key);\n      if (normalizedKey === 'empId') {\n        normalizedKey = 'employeeId';\n      }\n      \n      validatedDocument[normalizedKey] = row[key];\n    });\n    \n    ['row_number'].forEach(field => {\n      delete validatedDocument[normalizeKey(field)];\n    });\n    \n    // Add processed certifications\n    validatedDocument.certifications = certifications;\n    \n    finalOutput[recordCounter.toString()] = validatedDocument;\n    recordCounter++;\n    \n  } catch (error) {\n    errors.push({\n      index,\n      error: error.message,\n      data: row\n    });\n  }\n});\n\nreturn {\n  json: {\n    accessToken,\n    validItems: finalOutput,\n    errors\n  }\n};"
      },
      "id": "89e51027-c249-42f1-a67b-7cc87078defc",
      "name": "Validate and Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3004/workflows/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflow\": {\n    \"id\": \"123\",\n    \"name\": \"Employee Sync Workflow\"\n  },\n  \"execution\": {\n    \"id\": \"exec_456\",\n    \"status\": \"success\"\n  },\n  \"data\": {\n    \"recordsProcessed\": \"42\"\n  }\n}",
        "options": {}
      },
      "id": "5ebb31e0-5e89-457b-9e18-5adbb25d5e05",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.70:3004/workflows/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflow\": {\n    \"id\": \"123\",\n    \"name\": \"Employee Sync Workflow\"\n  },\n  \"execution\": {\n    \"id\": \"exec_456\",\n    \"status\": \"failed\"\n  },\n  \"data\": {\n    \"recordsProcessed\": \"42\"\n  }\n}",
        "options": {}
      },
      "id": "17856a6e-8558-422e-932b-6ffcc79f269a",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 660]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "11iiQ37L7GzO1OE6cyOeumfSlP-4JWGS3foIn5lI4SKw",
          "mode": "list",
          "cachedResultName": "Employee_Master_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11iiQ37L7GzO1OE6cyOeumfSlP-4JWGS3foIn5lI4SKw/edit?usp=drivesdk"
        }
      },
      "id": "9097120c-383c-4204-bc2a-e057fc727277",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1420, 360],
      "credentials": {
        "googleApi": {
          "id": "Umdu9Kgsl94ijMRb",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Validate and Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response1": {
      "main": [
        [
          {
            "node": "Send Success Notification API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors1": {
      "main": [
        [
          {
            "node": "Log Errors to API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check API Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Folder and File2": {
      "main": [
        [
          {
            "node": "If Exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Login to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Login to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to API": {
      "main": [
        [
          {
            "node": "Check for Folder and File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Transform": {
      "main": [
        [
          {
            "node": "Check for Validation Errors1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Notification API1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Notification API1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Login to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "414b3b0c-7781-4afd-84a9-17b6a1cce44d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5176b00fa2d24bacd6209668b23765657e914066e3bf11efab5df2b9a884b80"
  },
  "id": "NaY8api3hwEflQSc",
  "tags": []
}
