n8n-workflows/Learning_Service___Working_Template (3).json
{
  "name": "Learning Service - Working Template",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.99.9:3001/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "admin@example.com"
            },
            {
              "name": "password",
              "value": "AdminPassword123!"
            }
          ]
        },
        "options": {}
      },
      "name": "Login to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1380, 680],
      "id": "15877d3b-1342-403c-bc0c-8b30c54e6ee0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.99.9:3005/email/send-success",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\": \"{{ $workflow.name }}\"}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "name": "Send Success Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [100, 380],
      "id": "ffc44a7f-9ccb-4d02-9113-84a40da0a173",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.99.9:3005/email/send-error",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"workflowName\": \"{{ $workflow.name }}\", \"error\": \"{{ $json.error }}\" }",
        "options": {}
      },
      "name": "Send Error Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [100, 620],
      "id": "792ac534-2179-4e1e-bfe3-771cc1788d8d",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [100, 860],
      "id": "21d73701-4785-437a-8115-6a1f42071271",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.99.9:3003/api/courses/bulk-update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.data }}"
            },
            {
              "name": "collection",
              "value": "={{ $json.collectionName }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upsert Courses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-360, 460],
      "id": "40900885-3af9-4bac-99c2-c4f816fef73c",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Learning Resources - Master List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "4ed5ec86-e205-42c4-b5ad-a5665c87e7ed",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-760, 460],
      "executeOnce": false,
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed80d057-afd9-4f62-919b-d049b17a8b78",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "58828949-9335-42f4-bb9d-c6875244fb81",
              "leftValue": "={{ $json.validationErrors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "a429437b-4450-4199-9b79-9f5c6edf71a5",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-140, 560]
    },
    {
      "parameters": {
        "jsCode": "// 1. Constants Definition\nconst STATIC_HEADERS = [\n  'SkillCategory',\n  'SkillName',\n  'RequiredLevel',\n  'CareerLevel',\n  'CourseLevel'\n];\nconst NUMERIC_FIELDS = ['RequiredLevel'];\nconst EXCLUDED_FIELDS = ['row_number'];\n\n// 2. Data Structure Validation\nconst structureValidators = {\n  isPresent: (value) => value !== null && value !== undefined && value !== '',\n  hasCorrectType: (value, type) => {\n    switch(type) {\n      case 'number': return !isNaN(Number(value));\n      case 'string': return typeof value === 'string' || value instanceof String;\n      default: return true;\n    }\n  }\n};\n\n// 3. Helper Functions\nfunction toCamelCase(header) {\n  return header\n    .replace(/([a-z])([A-Z])/g, '$1 $2')\n    .split(/[\\s_-]+/)\n    .map((word, index) => {\n      if (index === 0) {\n        return word.toLowerCase();\n      }\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join('');\n}\n\nfunction transformValue(header, value) {\n  if (NUMERIC_FIELDS.includes(header)) {\n    return Number(value);\n  }\n  return value || '';\n}\n\nfunction validateStructure(header, value) {\n  const errors = [];\n  \n  if (!structureValidators.isPresent(value)) {\n    errors.push(`${header} is missing or empty`);\n    return errors;\n  }\n  const expectedType = NUMERIC_FIELDS.includes(header) ? 'number' : 'string';\n  if (!structureValidators.hasCorrectType(value, expectedType)) {\n    errors.push(`${header} must be a ${expectedType}`);\n  }\n  return errors;\n}\n\n// New helper function to separate static and dynamic fields\nfunction processDynamicFields(row) {\n  const fields = [];\n  \n  Object.entries(row).forEach(([header, value]) => {\n    if (!STATIC_HEADERS.includes(header) && !EXCLUDED_FIELDS.includes(header)) {\n      fields.push({\n        name: toCamelCase(header),\n        value: value || ''\n      });\n    }\n  });\n  \n  return fields;\n}\n\n// 4. Main Processing Function\nfunction processData(items) {\n  if (!items?.length) {\n    throw new Error('No data to process');\n  }\n\n  const buInfo = $node['Get BU'].json;\n  if (!buInfo || !buInfo.prefixBU) {\n    throw new Error('Required BU information missing');\n  }\n  \n  const firstItem = items[0].json;\n  const structureErrors = [];\n  const processedItems = [];\n\n\n  \n  // Check required headers\n  const missingHeaders = STATIC_HEADERS.filter(header => !(header in firstItem));\n  if (missingHeaders.length) {\n    throw new Error(`Missing required headers: ${missingHeaders.join(', ')}`);\n  }\n\n  // Process items\n  items.forEach((item, index) => {\n    const row = item.json;\n    const rowErrors = [];\n    \n    // Initialize transformed item with courseId\n    const transformedItem = {\n      courseId: `COURSE${String(index + 1).padStart(3, '0')}`\n    };\n\n    // Process static fields\n    STATIC_HEADERS.forEach(header => {\n      const value = row[header];\n      if (STATIC_HEADERS.includes(header)) {\n        const fieldErrors = validateStructure(header, value);\n        rowErrors.push(...fieldErrors);\n      }\n      transformedItem[toCamelCase(header)] = transformValue(header, value);\n    });\n\n    // Add dynamic fields array\n    transformedItem.fields = processDynamicFields(row);\n\n    if (rowErrors.length) {\n      structureErrors.push({\n        rowIndex: index + 1,\n        courseId: transformedItem.courseId,\n        errors: rowErrors\n      });\n    }\n    \n    processedItems.push(transformedItem);\n  });\n\n  // Log validation issues\n  if (structureErrors.length > 0) {\n    console.log('Data structure issues found:', JSON.stringify(structureErrors, null, 2));\n  }\n\n  return {\n    json: {\n      data: processedItems, \n      collectionName: buInfo.collectionName,\n      prefixBU: buInfo.prefixBU\n    }\n  };\n\n\n}\n\n// 5. Execution\ntry {\n  return processData($input.all());\n} catch (error) {\n  console.error('Processing failed:', error.message);\n  throw error;\n}"
      },
      "name": "Process and Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-560, 660],
      "id": "0e659be2-306c-4c64-b725-b64d528005c6",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b336542-c20c-4301-a44a-9419b21e1b38",
              "leftValue": "={{ $json.structureErrors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "47c99a8c-33a5-4694-b062-0ec779ac4356",
      "name": "Check for Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 840],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.parents[0]}}?fields=id,createdTime,modifiedTime,name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "60d438f6-a2fb-4653-8b9b-2ad0f630c4e6",
      "name": "Get Parent Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1580, 680],
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getBUData(items) {\n  // Get parent folder details directly\n  const parentDetails = $node['Get Parent Details'].json;\n  \n  // Validate parent folder details\n  if (!parentDetails || !parentDetails.name) {\n    throw new Error('Parent folder details not found');\n  }\n\n  // Extract BU prefix from folder name (e.g., \"QA\" from \"QA_QUALITY_ASSURANCE\")\n  const folderName = parentDetails.name;\n  const prefixBU = folderName.split('_')[0];\n\n  // Return BU information\n  return {\n    json: {\n      prefixBU,\n      collectionName: `${prefixBU}_LEARNING_RESOURCES`,\n      metadata: {\n        folderId: parentDetails.id,\n        folderName: parentDetails.name,\n        createdTime: parentDetails.createdTime,\n        modifiedTime: parentDetails.modifiedTime\n      }\n    }\n  };\n}\n\n// Error handling wrapper\ntry {\n  return getBUData($input.all());\n} catch (error) {\n  return {\n    json: {\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "9daaf1f7-59dc-4bf3-9cc7-ff554dfe5423",
      "name": "Get BU",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1180, 680],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name='Courses_Master_List' and '{{$node['Get BU'].json.metadata.folderId}}' in parents",
        "filter": {},
        "options": {}
      },
      "id": "ea3feacc-baeb-4a47-ad1d-5e9904e74744",
      "name": "Get Sheet",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-960, 680],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fxNSKPZssdbzzz_Gt04v3ZlQw-lRKrGB",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.spreadsheet"
        }
      },
      "id": "6019c8ef-0641-4981-81d1-d6bfc9ab240f",
      "name": "QA",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1840, 680],
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZJ9df2YQjLuTlQLOYnUPElXkGxzAsE7h",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.spreadsheet"
        }
      },
      "id": "308287ea-6161-4989-bc7c-4832400e6c1d",
      "name": "SW",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1840, 480],
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ADB6v0xbPFuAANVtugUr4JyJRjY4CjqD",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.spreadsheet"
        }
      },
      "id": "befc71a9-0b12-4117-bfdd-28d9a54173b7",
      "name": "CLD",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1840, 900],
      "credentials": {
        "googleApi": {
          "id": "eld3nQVHFLToAGAM",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upsert Courses": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process and Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Send Success Notification API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to API": {
      "main": [
        [
          {
            "node": "Get BU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Validate Data": {
      "main": [
        [
          {
            "node": "Check for Validation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation": {
      "main": [
        [
          {
            "node": "Log Errors to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parent Details": {
      "main": [
        [
          {
            "node": "Login to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BU": {
      "main": [
        [
          {
            "node": "Get Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA": {
      "main": [
        [
          {
            "node": "Get Parent Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SW": {
      "main": [
        [
          {
            "node": "Get Parent Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLD": {
      "main": [
        [
          {
            "node": "Get Parent Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f8835b9-fe44-431a-9257-33214d1c4ce8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4f3028e653c18f18776c149105cc4db855bb5b12b65b7125b864735ba86ab75"
  },
  "id": "YmGAfDxuhyOOW1bj",
  "tags": []
}
