n8n-workflows/Skill_Assessment_Upsert_Workflow.json
{
  "name": "Skill Assessment Upsert Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        200
      ],
      "id": "26709d68-d40f-4372-9235-0a4ec9ecf400"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.22.156.50:3001/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "admin@example.com"
            },
            {
              "name": "password",
              "value": "AdminPassword123!"
            }
          ]
        },
        "options": {}
      },
      "name": "Login to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -760,
        200
      ],
      "id": "694eb308-4dc4-4f81-86cc-f5db3fcb225e"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -2020,
        -653
      ],
      "id": "9f8adb97-e876-43fa-ae32-cda79d8199bf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "feE9JVAcVI0VzCDr",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract the access token from the login response\nconst accessToken = $node['Login to API'].json.access_token;\n\nif (!accessToken) {\n  throw new Error('Failed to obtain access token');\n}\n\n// Process the data from Google Sheets\nconst sheetData = $node['Google Sheets'].json.values;\nconst headers = sheetData[0];\nconst data = sheetData.slice(1);\n\nconst processedData = data.map(row => {\n  const item = {};\n  headers.forEach((header, index) => {\n    item[header] = row[index];\n  });\n  return {\n    employeeId: item.EmployeeID,\n    name: item.Name,\n    department: item.Department,\n    skills: {\n      JavaScript: parseInt(item.JavaScript) || 0,\n      Python: parseInt(item.Python) || 0\n      // Add more skills as needed\n    }\n  };\n});\n\nconst validItems = [];\nconst errors = [];\n\nprocessedData.forEach((item, index) => {\n  if (!item.employeeId) {\n    errors.push({ index, error: 'Missing EmployeeID' });\n  } else if (Object.values(item.skills).some(level => level < 0 || level > 5)) {\n    errors.push({ index, error: 'Skill levels must be between 0 and 5' });\n  } else {\n    validItems.push(item);\n  }\n});\n\n// Return the results along with the access token\nreturn {\n  json: {\n    accessToken,\n    validItems,\n    errors\n  }\n};"
      },
      "name": "Process and Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1880,
        -653
      ],
      "id": "35b3e59b-1f01-463e-aeb3-2fc44b470bb4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/skills-matrix/bulk-update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.validItems }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Skills Matrix API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1680,
        -653
      ],
      "id": "148de34e-64ca-4ed1-9906-6887e567e07b",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}"
            }
          ]
        }
      },
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1480,
        -653
      ],
      "id": "23b869ee-551c-4fcf-bf2a-dd67df4f7523",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Skills Matrix update completed successfully. Updated {{ $json.body.updatedCount }} records."
            }
          ]
        },
        "options": {}
      },
      "name": "Send Success Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1280,
        -753
      ],
      "id": "52aacf51-c93f-40f1-821a-09f125aa40b6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Error occurred during Skills Matrix update: {{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Error Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1280,
        -553
      ],
      "id": "e00eb5d7-8192-4b74-89ac-7f60e6a38219",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.errors.length > 0 }}"
            }
          ]
        }
      },
      "name": "Check for Validation Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1620,
        -293
      ],
      "id": "479f3835-58c9-460c-9b4a-73f29d3f08e0",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1280,
        -333
      ],
      "id": "dfb0bdfd-5dae-4f10-8e44-cbe58ebd480e",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU",
          "mode": "list",
          "cachedResultName": "Copy of SKILLS MATRIX DASHBOARD - QA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1719772248,
          "mode": "list",
          "cachedResultName": "Self",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit#gid=1719772248"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "9f763b45-3987-4540-9c52-27139ad521a0",
      "name": "Read Self Assessments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -200,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "feE9JVAcVI0VzCDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU",
          "mode": "list",
          "cachedResultName": "Copy of SKILLS MATRIX DASHBOARD - QA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 950415049,
          "mode": "list",
          "cachedResultName": "Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit#gid=950415049"
        },
        "options": {}
      },
      "id": "2e297857-6a75-4f8e-bb3a-b7dce2c4eee3",
      "name": "Read Manager Assessments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "feE9JVAcVI0VzCDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper function to convert strings to camelCase\nfunction toCamelCase(str) {\n  return str\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9]+(.)/g, (_, chr) => chr.toUpperCase());\n}\n\n// Extract the access token from the login response\nconst accessToken = $node['Login to API'].json.access_token;\nif (!accessToken) {\n  throw new Error('Failed to obtain access token');\n}\n\n// Process the data from Google Sheets\nconst sheetData = items.map(item => item.json);\n\n// Initialize arrays for valid items and errors\nconst validItems = [];\nconst errors = [];\n\n// Process each row of data\nconst processedData = sheetData.map(row => {\n  const { \n    'Email Address': email,\n    'Timestamp': timestamp,\n    'Name of Resource': resourceName,\n    'Name of Respondent': nameOfRespondent,  // Changed from name to nameOfRespondent\n    'Capability': capability,\n    'Career Level of Resource': careerLevel \n  } = row;\n\n  // Dynamically create the skills object\n  const skills = {};\n  Object.keys(row).forEach(key => {\n    if (\n      key !== 'row_number' &&\n      key !== 'Email Address' &&\n      key !== 'Timestamp' &&\n      key !== 'Name of Resource' &&\n      key !== 'Name of Respondent' &&\n      key !== 'Capability' &&\n      key !== 'Career Level of Resource' &&\n      !isNaN(parseInt(row[key])) // Ensure that the value is numeric\n    ) {\n      const camelCaseKey = toCamelCase(key);\n      skills[camelCaseKey] = parseInt(row[key]) || 0;\n    }\n  });\n\n  return {\n    email,\n    timestamp,\n    resourceName,\n    nameOfRespondent,  // Updated here as well\n    capability,\n    careerLevel: careerLevel || '',\n    skills\n  };\n});\n\n// Validate the data\nprocessedData.forEach((item, index) => {\n  const validationErrors = [];\n\n  // Check if email exists\n  if (!item.email) {\n    validationErrors.push('Missing Email Address');\n  }\n\n  // Check if name exists\n  if (!item.nameOfRespondent) {  // Updated here\n    validationErrors.push('Missing Name of Respondent');\n  }\n\n  // Check if capability exists\n  if (!item.capability) {\n    validationErrors.push('Missing Capability');\n  }\n\n  // Check skill levels dynamically\n  Object.entries(item.skills).forEach(([skillName, level]) => {\n    if (level < 0 || level > 6) {\n      validationErrors.push(`Invalid level for ${skillName}: must be between 0 and 6 (received: ${level})`);\n    }\n  });\n\n  if (validationErrors.length > 0) {\n    errors.push({\n      index,\n      name: item.nameOfRespondent,  // Updated here\n      errors: validationErrors\n    });\n  } else {\n    validItems.push(item);\n  }\n});\n\n// Determine assessment type based on the first valid item\nconst assessmentType = validItems.length > 0 && validItems[0].resourceName === validItems[0].nameOfRespondent ? \"self\" : \"manager\";  // Updated here\n\n// Return the results along with the access token\nreturn {\n  json: {\n    accessToken,\n    assessmentType,\n    validItems,\n    errors,\n    summary: {\n      totalProcessed: processedData.length,\n      validCount: validItems.length,\n      errorCount: errors.length\n    }\n  }\n};\n"
      },
      "name": "Process and Validate Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "id": "c4900ed5-7968-43df-b797-230c8652866c"
    },
    {
      "parameters": {
        "jsCode": "// Helper function to convert strings to camelCase\nfunction toCamelCase(str) {\n  return str\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9]+(.)/g, (_, chr) => chr.toUpperCase());\n}\n\n// Configuration for essential fields\nconst essentialFields = {\n  email: 'Email Address',\n  timestamp: 'Timestamp',\n  resourceName: 'Name of Resource',\n  emailOfResource: 'Email of Resource',\n  nameOfRespondent: 'Name of Respondent',\n  capability: 'Capability',\n  careerLevel: 'Career Level of Resource'\n};\n\n// Extract the access token from the login response\nconst accessToken = $node['Login to API'].json.access_token;\nif (!accessToken) {\n  throw new Error('Failed to obtain access token');\n}\n\n// Process the data from Google Sheets\nconst sheetData = items.map(item => item.json);\n\nconst processedData = sheetData.map(row => {\n  // Extract basic information dynamically\n  const basicInfo = {};\n  Object.entries(essentialFields).forEach(([key, header]) => {\n    basicInfo[key] = row[header] || ''; // Assign empty string if the field is missing\n  });\n\n  // Dynamically create the skills object\n  const skills = {};\n  Object.keys(row).forEach(key => {\n    // Exclude essential fields and row_number\n    if (!Object.values(essentialFields).includes(key) && key !== 'row_number' && !isNaN(parseInt(row[key]))) {\n      const camelCaseKey = toCamelCase(key);\n      skills[camelCaseKey] = parseInt(row[key]) || 0;\n    }\n  });\n\n  return {\n    ...basicInfo,\n    skills\n  };\n});\n\n// Validate the data\nconst validItems = [];\nconst errors = [];\n\nprocessedData.forEach((item, index) => {\n  const validationErrors = [];\n\n  // Check if email exists\n  if (!item.email) {\n    validationErrors.push('Missing Email Address');\n  }\n\n  // Check if name exists\n  if (!item.nameOfRespondent) {\n    validationErrors.push('Missing Name of Respondent');\n  }\n\n  // Check if capability exists\n  if (!item.capability) {\n    validationErrors.push('Missing Capability');\n  }\n\n  // Check skill levels dynamically\n  Object.entries(item.skills).forEach(([skillName, level]) => {\n    if (level < 0 || level > 6) {\n      validationErrors.push(`Invalid level for ${skillName}: must be between 0 and 6 (received: ${level})`);\n    }\n  });\n\n  if (validationErrors.length > 0) {\n    errors.push({\n      index,\n      name: item.nameOfRespondent,\n      errors: validationErrors\n    });\n  } else {\n    validItems.push(item);\n  }\n});\n\nconst assessmentType = validItems.length > 0 && validItems[0].resourceName === validItems[0].name ? \"self\" : \"manager\";\n\n// Return the results along with the access token\nreturn {\n  json: {\n    accessToken,\n    assessmentType,\n    validItems,\n    errors,\n    summary: {\n      totalProcessed: processedData.length,\n      validCount: validItems.length,\n      errorCount: errors.length\n    }\n  }\n};\n"
      },
      "name": "Process and Validate Data2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        840
      ],
      "id": "28ab3fbc-a5cd-43aa-b8b0-f0ac63b2b0d3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "56abc4cf-8ec3-410f-b0f6-32b0a82311dd",
              "leftValue": "={{ $json.errors.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f68f62bf-d8a6-4708-93da-8bfbaf6567d6",
      "name": "Check for Validation Errors1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "56abc4cf-8ec3-410f-b0f6-32b0a82311dd",
              "leftValue": "={{ $json.errors.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3a4f8add-2aa6-49dc-b16f-3698816abdd4",
      "name": "Check for Validation Errors2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        380,
        500
      ],
      "id": "3ba792c2-6562-4d1e-9df2-2253531d43b6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.22.156.50:3002/api/skills-matrix/bulk-update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assessmentType",
              "value": "={{ $json.assessmentType }}"
            },
            {
              "name": "data",
              "value": "={{ $json.validItems }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Skills Matrix API2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        820
      ],
      "id": "8b0a0297-5d62-45b8-9b56-11cdd39f9638"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.22.156.50:3002/api/skills-matrix/bulk-update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assessmentType",
              "value": "={{ $json.assessmentType }}"
            },
            {
              "name": "data",
              "value": "={{ $json.validItems }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Skills Matrix API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        620,
        60
      ],
      "id": "24ab3f9d-156b-4fc4-a48b-17a62ba3a1c7"
    },
    {
      "parameters": {
        "content": "## Reference",
        "height": 756.3366169586252,
        "width": 1037.2586577128786,
        "color": 3
      },
      "id": "33c4815d-a6f5-44a0-a5e6-c863818965f7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        -820
      ]
    },
    {
      "parameters": {
        "url": "=http://172.22.156.50:3002/api/skills-matrix/{{ $node['Process and Validate Data1'].json.assessmentType }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Login to API'].json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "GET Self Skills Data API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1500,
        -60
      ],
      "id": "1926b717-8183-4211-a49f-42ce7dcfa032"
    },
    {
      "parameters": {
        "url": "=http://172.22.156.50:3002/api/skills-matrix/{{ $node['Process and Validate Data2'].json.assessmentType }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Login to API'].json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "GET Self Skills Data API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1500,
        300
      ],
      "id": "4aee2d24-3a26-484a-981e-51693ab97f0d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Skills Matrix update completed successfully. Updated {{ $json.body.updatedCount }} records."
            }
          ]
        },
        "options": {}
      },
      "name": "Send Success Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        -240
      ],
      "id": "7872b583-9373-4117-980d-a479cf348626",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}"
            }
          ]
        }
      },
      "name": "Check API Response1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        820
      ],
      "id": "6f495c65-7889-422d-a425-fe5bdc26bc90",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}"
            }
          ]
        }
      },
      "name": "Check API Response2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "id": "9f82f61e-a471-417d-950d-f448fd339574",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Skills Matrix update completed successfully. Updated {{ $json.body.updatedCount }} records."
            }
          ]
        },
        "options": {}
      },
      "name": "Send Success Notification API2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1160,
        660
      ],
      "id": "1c835b39-daf5-48f0-808d-50756579ffa2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Error occurred during Skills Matrix update: {{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Error Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        200
      ],
      "id": "2722b24b-d6e0-4c84-ad9b-284838325f6f",
      "disabled": true
    },
    {
      "parameters": {},
      "id": "11d0aeb4-28a2-4300-8424-5a027c438562",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1620,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "812a2dce-c8b1-48bb-ba4d-be54f92fd559",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "a8ad5259-bf65-43b4-8acf-25014adb4a2c",
      "name": "Compute Average Per Employee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "id": "275f358f-afb3-45f0-a787-36996baee21c",
      "name": "Update Average Skills API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU",
          "mode": "list",
          "cachedResultName": "Copy of SKILLS MATRIX DASHBOARD - QA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1856184611,
          "mode": "list",
          "cachedResultName": "RequiredSkills",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1as7YZtwV0K7TlaMjz2Q3VkAKVqOeRiIKTAZg-gYJ_YU/edit#gid=1856184611"
        },
        "options": {}
      },
      "id": "69528caa-e8df-4b47-a31c-0fb51fe673cf",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        -440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "feE9JVAcVI0VzCDr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper function to convert strings to camelCase\nfunction toCamelCase(str) {\n  return str\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9]+(.)/g, (_, chr) => chr.toUpperCase());\n}\n\n// Extract the access token from the login response\nconst accessToken = $node['Login to API'].json.access_token;\nif (!accessToken) {\n  throw new Error('Failed to obtain access token');\n}\n\n// Process the data from Google Sheets\nconst sheetData = items.map(item => item.json);\n\n// Initialize arrays for valid items and errors\nconst validItems = [];\nconst errors = [];\n\n// Process each row of data\nconst processedData = sheetData.map(row => {\n  const { \n    'Career Level': careerLevel \n  } = row;\n\n  // Dynamically create the skills object\n  const skills = {};\n  Object.keys(row).forEach(key => {\n    if (\n      key !== 'row_number' &&\n      key !== 'col_1' &&\n      !isNaN(parseInt(row[key])) // Ensure that the value is numeric\n    ) {\n      const camelCaseKey = toCamelCase(key);\n      skills[camelCaseKey] = parseInt(row[key]) || 0;\n    }\n  });\n\n  return {\n    careerLevel: careerLevel || '',\n    skills\n  };\n});\n\n// Validate the data\nprocessedData.forEach((item, index) => {\n  const validationErrors = [];\n\n  // Check if careerLevel exists\n  if (!item.careerLevel) {\n    validationErrors.push('Missing Career Level');\n  }\n\n  // Check skill levels dynamically\n  Object.entries(item.skills).forEach(([skillName, level]) => {\n    if (level < 0 || level > 6) {\n      validationErrors.push(`Invalid level for ${skillName}: must be between 0 and 6 (received: ${level})`);\n    }\n  });\n\n  if (validationErrors.length > 0) {\n    errors.push({\n      index,\n      careerLevel: item.careerLevel,\n      errors: validationErrors\n    });\n  } else {\n    validItems.push(item);\n  }\n});\n\n// Determine assessment type as \"required\" for required skills\nconst assessmentType = \"required\";\n\n// Return the results along with the access token\nreturn {\n  json: {\n    accessToken,\n    assessmentType,\n    validItems,\n    errors,\n    summary: {\n      totalProcessed: processedData.length,\n      validCount: validItems.length,\n      errorCount: errors.length\n    }\n  }\n};\n"
      },
      "name": "Process and Validate Data3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        -440
      ],
      "id": "7aa368f3-35b6-41f7-a5a9-8b9bf9764a4d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "56abc4cf-8ec3-410f-b0f6-32b0a82311dd",
              "leftValue": "={{ $json.errors.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "8b5af153-9c8b-46e9-a1fc-e7febca8939e",
      "name": "Check for Validation Errors3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.22.156.50:3002/api/skills-matrix/bulk-update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assessmentType",
              "value": "={{ $json.assessmentType }}"
            },
            {
              "name": "data",
              "value": "={{ $json.validItems }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Skills Matrix API3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        620,
        -460
      ],
      "id": "0a3fca17-61d8-4550-b734-54f3ac319a40"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.statusCode }}"
            }
          ]
        }
      },
      "name": "Check API Response3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        -460
      ],
      "id": "ac931e05-5c8e-4b83-aba4-b6eb97e373bd",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/notifications/success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Skills Matrix update completed successfully. Updated {{ $json.body.updatedCount }} records."
            }
          ]
        },
        "options": {}
      },
      "name": "Send Success Notification API3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        -640
      ],
      "id": "b37dd203-7704-4a78-983c-5a17387b4cfc",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        380,
        -180
      ],
      "id": "cd76eb5a-92b5-4367-9b76-af7015d95a2b",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-nestjs-api.com/api/error-logs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Process and Validate Data\"].json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Errors to API3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        1120
      ],
      "id": "7065446b-f63b-42ba-8416-74f7dea3a7c9",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Login to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to API": {
      "main": [
        [
          {
            "node": "Read Self Assessments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Manager Assessments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Process and Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Validate Data": {
      "main": [
        [
          {
            "node": "Update Skills Matrix API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Validation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Skills Matrix API": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Send Success Notification API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors": {
      "main": [
        [
          {
            "node": "Log Errors to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Self Assessments": {
      "main": [
        [
          {
            "node": "Process and Validate Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Manager Assessments": {
      "main": [
        [
          {
            "node": "Process and Validate Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Validate Data1": {
      "main": [
        [
          {
            "node": "Check for Validation Errors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Validate Data2": {
      "main": [
        [
          {
            "node": "Check for Validation Errors2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors2": {
      "main": [
        [
          {
            "node": "Update Skills Matrix API2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Errors to API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors1": {
      "main": [
        [
          {
            "node": "Update Skills Matrix API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Errors to API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Skills Matrix API1": {
      "main": [
        [
          {
            "node": "Check API Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Skills Matrix API2": {
      "main": [
        [
          {
            "node": "Check API Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Self Skills Data API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Self Skills Data API1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check API Response2": {
      "main": [
        [
          {
            "node": "Send Success Notification API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response1": {
      "main": [
        [
          {
            "node": "Send Success Notification API2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Compute Average Per Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Average Per Employee": {
      "main": [
        [
          {
            "node": "Update Average Skills API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Process and Validate Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Validate Data3": {
      "main": [
        [
          {
            "node": "Check for Validation Errors3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Validation Errors3": {
      "main": [
        [
          {
            "node": "Update Skills Matrix API3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Errors to API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Skills Matrix API3": {
      "main": [
        [
          {
            "node": "Check API Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response3": {
      "main": [
        [
          {
            "node": "Send Success Notification API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "987f7c0c-f8c3-4d8e-aea5-411c8a8bc7e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a31f8c9eb797a311bc289ce7bafeb2442b7772146dd18635dc019f72cb5829a0"
  },
  "id": "ywSj2r7j8rqYit96",
  "tags": []
}