n8n-workflows/Taxonomy_workflow.json
{
  "name": "Taxonomy_workflow",
  "nodes": [
    {
      "parameters": {
        "content": "docx convert",
        "height": 261.8340440009925,
        "width": 521.2515498306966,
        "color": 2
      },
      "id": "4558f9f6-1835-4bb2-9b99-70f7b2fb7553",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 396.90500428383126]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "825d52d6-9968-4439-bcc6-218838529b0b",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "355e6eec-98c6-409d-85e3-1e2b17ed9593",
      "name": "If type is docx",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [360, 700],
      "executeOnce": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If type is docx').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1ec78da4-7d99-4091-9fd0-5b681f6561e9",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [760, 460],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "98efa96f-8def-461c-a130-ea714c2abf5f",
      "name": "Convert docx to doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 460],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5enrxfsckD49Whxp",
          "name": "Google Drive account"
        },
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3001/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ email='admin@example.com' }}"
            },
            {
              "name": "password",
              "value": "={{ pw='AdminPassword123!'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "59440998-34d8-4080-925b-dfb14829bfda",
      "name": "Get token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 700],
      "notesInFlow": true,
      "notes": "password is exposed"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=(mimeType='application/vnd.google-apps.document' OR mimeType='application/vnd.openxmlformats-officedocument.wordprocessingml.document' ) AND '{{ $('Get parent folder details').item.json.id }}' in parents",
        "returnAll": true,
        "filter": {
          "includeTrashed": "={{ false }}"
        },
        "options": {
          "fields": ["mimeType", "id", "name"]
        }
      },
      "id": "ced0d199-dfd0-49f0-b64d-3f5f40bdb66b",
      "name": "Find docx/docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [0, 700],
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.parents[0] }}?fields=id,createdTime,modifiedTime,name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "5f798396-213e-47d0-a595-a5aa5ebc9052",
      "name": "Get parent folder details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 700],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5enrxfsckD49Whxp",
          "name": "Google Drive account"
        },
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      },
      "notes": "get folder for reference. "
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "id": "347d160b-f7ae-4f0a-a4e0-b0c3de03d25f",
      "name": "get document data",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [920, 980],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "id": "7e10853e-1b48-4abf-8e46-cb248732a31e",
      "name": "get existing data",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1140, 700],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const errorsList = [];\n\n// Functions \nfunction getDocText(tableRowIndex, tableCellIndex, contentIndex=0, bodyContentIndex = 2, elementsIndex = 0) {\n  try {\n    // The proper order is body Content -> table Row -> table Cell -> content -> element.\n    // Extract the paragraph and textRun elements for validation\n    const paragraphElement = $json?.body?.content?.[bodyContentIndex]?.table?.tableRows?.[tableRowIndex]?.tableCells?.[tableCellIndex]?.content?.[contentIndex]?.paragraph?.elements?.[elementsIndex]?.textRun;\n\n    // If the paragraph or textRun is missing, return null\n    if (!paragraphElement) {\n      return null;\n    }\n\n    // Extract and clean the content\n    const cellContent = paragraphElement.content.trim().replace(/\\n/g, '');\n\n    // If the content is an empty string (\"\"), return N/A\n    return cellContent === \"\" ? \"N/A\" : cellContent;\n    \n  } catch (error) {\n    errorsList.push(error);\n    console.error(`Error fetching text for tableRowIndex: ${tableRowIndex}, tableCellIndex: ${tableCellIndex}, contentIndex: ${contentIndex}`, error);\n    return null;\n  }\n}\n\n// Start of data extraction\nconst data = {};\n\n// Primary keys to compare and contrast.\ndata[\"docTitle\"] = $json.title;\ndata[\"docId\"] = $json.documentId;\ndata[\"docRevisionId\"] = $json.revisionId;\n\n// Body / Content\nconst names = [\"category\", \"title\", \"description\"];\n// For the basic rows. (category, title, description)\ntry {\n  for (let i=0; i<3; i++) {\n    data[names[i]] = getDocText(i, 1);\n    if (i===1) {\n       if (!data[\"docTitle\"].includes(data['title'])) {\n  errorsList.push(\"document title and tsc title doesn't match!\")\n    }\n}\n  }\n} catch (error) {\n  errorsList.push(error)\n}\n\n// For proficiency.\nlet level = 3;\nconst prof = {};\n\n// Assumes that the content is not by bullet. Otherwise, nested loop.\nlet na_count = 0;\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // ignore the first index, as it's key for this entire object.\n    prof[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g,'')] = [getDocText(4, index) ,getDocText(5, index)]\n  if (getDocText(4, index)==='N/A' || getDocText(5, index)==='N/A') {\n    na_count += 1;\n  }\n});\n\nif (na_count >= $json.body.content[2].table.tableRows[level].tableCells.length) {\n  errorsList.push(\"Empty fields for proficiency!\")\n}\n// optimize and DNR and match if same level has N/A soon!\n\ndata[\"proficiencyDescription\"] = prof;\n\n// For knowledge\nlet knowledge = 6;\nconst know = {};\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // ignore the first index, as it's key for this entire object.\n    know[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g,'')] = $json.body.content[2].table.tableRows[knowledge].tableCells[index].content.map(cell => \n        cell.paragraph?.elements[0]?.textRun?.content.trim().replace(/\\n/g,''));\n});\ndata[\"knowledge\"] = know;\n// For ability \nlet ability = 7;\nconst abil = {};\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // ignore the first index, as it's key for this entire object.\n    abil[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g,'')] = $json.body.content[2].table.tableRows[ability].tableCells[index].content.map(cell => \n        cell.paragraph?.elements[0]?.textRun?.content.trim().replace(/\\n/g,''));\n});\ndata[\"abilities\"] = abil;\n// For range of application\nlet rapp = 8;\n\n// Check if the table row and cells exist to avoid undefined errors\n\nif ($json?.body?.content?.[2]?.table?.tableRows?.[rapp]?.tableCells?.[1]?.content) {\n  data[\"rangeOfApplication\"] = $json.body.content[2].table.tableRows[rapp].tableCells[1].content.map(cell =>\n    cell?.paragraph?.elements?.map(el => el?.textRun?.content?.replace(/^\\s*•\\s*/, '').trim()?.replace(/\\n/g, '')).join(\" \")\n  );\n} else {\n  data[\"rangeOfApplication\"] = []; // Set to empty if row doesn't exist\n}\n\ndata[\"businessUnit\"] = $('Get parent folder details').first().json.name;\n\nif (errorsList.length===0) {\n  return data; \n}\nelse {\n  return { \n    invalidContents: true,\n    error_log: errorsList.join() }\n}\n"
      },
      "id": "8d50b693-6112-4bbb-9c5b-ffa7bfe38259",
      "name": "Validate File contents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 980]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5fb12013-83ad-4c24-9d29-7f197fe9ef01",
              "leftValue": "={{ $('Get data').first().json._id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14220b3b-bffa-48ec-abb9-7a5dea035d33",
      "name": "If collection exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 840],
      "executeOnce": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=(mimeType='application/vnd.google-apps.document') AND '{{ $('Get parent folder details').last().json.id }}' in parents",
        "returnAll": true,
        "filter": {
          "includeTrashed": "={{ false }}"
        },
        "options": {
          "fields": ["mimeType", "id", "name"]
        }
      },
      "id": "da13151c-c205-49a0-8101-bc98bfdd6fcf",
      "name": "Find doc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [920, 700],
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const errorsList = [];\n\n// Function to extract and concatenate text from elements\nfunction getDocText(tableRowIndex, tableCellIndex, contentIndex = 0, bodyContentIndex = 2, elementsIndex = 0) {\n  try {\n    // The proper order is body Content -> table Row -> table Cell -> content -> element.\n    const paragraphElement = $json?.body?.content?.[bodyContentIndex]?.table?.tableRows?.[tableRowIndex]?.tableCells?.[tableCellIndex]?.content?.[contentIndex]?.paragraph?.elements;\n\n    // If the paragraph or elements are missing, return null\n    if (!paragraphElement || !Array.isArray(paragraphElement) || paragraphElement.length === 0) {\n      return null;\n    }\n\n    // Check the length of elements and concatenate if more than one\n    const cellContent = paragraphElement.length > 1 \n      ? paragraphElement.map(el => el.textRun?.content.trim().replace(/\\n/g, '')).join(\" \") // Join multiple elements\n      : paragraphElement[0]?.textRun?.content.trim().replace(/\\n/g, ''); // Default to the first element\n\n    // If the content is an empty string (\"\"), return N/A\n    return cellContent === \"\" ? \"N/A\" : cellContent;\n\n  } catch (error) {\n    errorsList.push(error);\n    console.error(`Error fetching text for tableRowIndex: ${tableRowIndex}, tableCellIndex: ${tableCellIndex}, contentIndex: ${contentIndex}`, error);\n    return null;\n  }\n}\n\n// Start of data extraction\nconst data = {};\n\n// Primary keys to compare and contrast.\ndata[\"docTitle\"] = $json.title;\ndata[\"docId\"] = $json.documentId;\ndata[\"docRevisionId\"] = $json.revisionId;\n\n// Body / Content\n// For the basic rows. (category, title, description)\nconst names = [\"category\", \"title\", \"description\"];\n\ntry {\n  for (let i = 0; i < 3; i++) {\n    data[names[i]] = getDocText(i, 1);\n  }\n} catch (error) {\n  errorsList.push(error);\n}\n\n// For proficiency.\nlet level = 3;\nconst prof = {};\n\n// Assumes that the content is not by bullet. Otherwise, nested loop.\nlet na_count = 0;\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // Ignore the first index, as it's key for this entire object.\n    prof[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g, '')] = [getDocText(4, index), getDocText(5, index)];\n  \n  if (getDocText(4, index) === 'N/A' || getDocText(5, index) === 'N/A') {\n    na_count += 1;\n  }\n});\n\nif (na_count >= $json.body.content[2].table.tableRows[level].tableCells.length) {\n  errorsList.push(\"Empty fields for proficiency!\");\n}\n\n// Optimize and DNR and match if same level has N/A soon!\ndata[\"proficiencyDescription\"] = prof;\n\n// For knowledge\nlet knowledge = 6;\nconst know = {};\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // Ignore the first index, as it's key for this entire object.\n    know[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g, '')] = $json.body.content[2].table.tableRows[knowledge].tableCells[index].content.map(cell => \n        cell.paragraph?.elements?.map(el => el.textRun?.content.trim().replace(/\\n/g, '')).join(\" \"));\n});\n\ndata[\"knowledge\"] = know;\n\n// For ability \nlet ability = 7;\nconst abil = {};\n\n$json.body.content[2].table.tableRows[level].tableCells.forEach((key, index) => {\n  if (index !== 0) // Ignore the first index, as it's key for this entire object.\n    abil[key.content[0].paragraph.elements[0].textRun.content.trim().replace(/\\n/g, '')] = $json.body.content[2].table.tableRows[ability].tableCells[index].content.map(cell => \n        cell.paragraph?.elements?.map(el => el.textRun?.content.trim().replace(/\\n/g, '')).join(\" \"));\n});\n\ndata[\"abilities\"] = abil;\n\n// For range of application\nlet rapp = 8;\nif ($json?.body?.content?.[2]?.table?.tableRows?.[rapp]?.tableCells?.[1]?.content) {\n  \n  data[\"rangeOfApplication\"] = $json.body.content[2].table.tableRows[rapp].tableCells[1].content.map(cell => \n    cell.paragraph?.elements?.map(el => el.textRun?.content.replace(/^\\s*•\\s*/, '').trim().replace(/\\n/g, '')).join(\" \")\n  );\n} else {\n  data[\"rangeOfApplication\"] = []; // Set to N/A if row doesn't exist\n}\n\ndata[\"businessUnit\"] = $('Get parent folder details').first().json.name;\n\nif (errorsList.length === 0) {\n  return data; \n} else {\n  return { \n    invalidContents: true,\n    error_log: errorsList.join() \n  };\n}\n"
      },
      "id": "ae0d0770-915f-410d-888e-441c804a9821",
      "name": "Revalidate content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 760]
    },
    {
      "parameters": {
        "jsCode": "const old_data = $('Get data').all();\nconst new_data = $('get existing data').all();\n\nconst rowsToUpdate = [];\n\n// Yet to cover if folder files are deleted (new_data.length < old_data.length)\n\nnew_data.forEach((obj, index) => {\n  const id = obj.json.documentId;\n  const idMatch = old_data.findIndex(oldItem => oldItem.json.DOC_Id === id);\n\n  if (idMatch !== -1) {\n    if (obj.json.revisionId !== old_data[idMatch].json.DOC_RevisionId) {\n      \n      rowsToUpdate.push(obj);\n    }\n    else {\n      console.log(`No changes for ${id}`);\n    }\n  } else {\n    rowsToUpdate.push(obj);\n  }\n})\n\nif (rowsToUpdate.length === 0 ) {\n  return {\n    \"error\": \"No data changes!\"\n  }\n}\nconsole.log(\"Rows to update: \"+rowsToUpdate);\nreturn rowsToUpdate;"
      },
      "id": "8bfd9e04-2625-48b6-ba8c-5d9a153af0e6",
      "name": "Filter items to update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 700]
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "={{ $('Get parent folder details').item.json.name }}",
        "updateKey": "doc_Id",
        "fields": "={{ Object.keys($json).join(\", \") }}",
        "upsert": true,
        "options": {}
      },
      "id": "03f016b6-5f77-43f4-bbc7-c30ac718a3ad",
      "name": "Upsert ",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [1480, 1440],
      "credentials": {
        "mongoDb": {
          "id": "DiFuCOB9Q0kTKL35",
          "name": "MongoDB account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6eef944-527c-47f0-9518-e4985ddda1bd",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a583d12b-df67-49b2-976b-f2647f9bf618",
      "name": "If item has error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 700]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Revalidate content').all();\n\nconst validItems = [];\nconst errorItems = [];\n\ndata.forEach((obj)=> {\n  if (obj.json.invalidContents === true) {\n    errorItems.push(obj.json);\n  } else {\n    obj.json.businessUnit=$('Get parent folder details').first().json.name;\n    validItems.push(obj.json);\n  }\n})\n\n\nif (errorItems.length === 0) {\n  return { \n    json: {\n      validItems\n    }\n  }\n} else {\n  return {\n    json: {\n      errorItems\n    }\n  };\n}"
      },
      "id": "47cb0b86-1e43-4ed4-914e-a4594d6362b5",
      "name": "Store into array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 760]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validate File contents').all();\n\nconst validItems = [];\nconst errorItems = [];\n\ndata.forEach((obj)=> {\n  if (obj.json.invalidContents === true) {\n    errorItems.push(obj.json);\n  } else {\n    validItems.push(obj.json);\n  }\n})\n\n\nif (errorItems.length === 0) {\n  return { \n    json: {\n      validItems\n    }\n  }\n} else {\n  return {\n    json: {\n      errorItems\n    }\n  };\n}"
      },
      "id": "d79c16d4-71ab-4c5b-b3c3-93fa50e14d37",
      "name": "Store into array1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 980]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7095e7d-f871-4f0d-a9be-71f15d7b0a66",
              "leftValue": "={{ $json.validItems }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "844334a8-36c0-4914-9adf-ea925c079140",
      "name": "If valid item",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2240, 760]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7095e7d-f871-4f0d-a9be-71f15d7b0a66",
              "leftValue": "={{ $json.validItems }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "140a2db9-3371-42a0-96c8-b8afaf4269fe",
      "name": "If valid item1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 980]
    },
    {
      "parameters": {
        "url": "=http://192.168.203.84:3002/taxonomy?businessUnit={{ $('Get parent folder details').item.json.name.split('_')[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2cfe679-a0f9-4915-bf91-c558d3b5a6a1",
      "name": "Get data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 700],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a15d778c-a21a-4085-bac1-5a9851054449",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2128b1b-6cd4-47ed-b4a4-a73000be9bce",
      "name": "Check Api Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2660, 640]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a15d778c-a21a-4085-bac1-5a9851054449",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "7a719c87-8034-414c-a7b6-ad9a01747c92",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2b756cb7-e66a-411a-9130-ad8e4625f9ac",
      "name": "Check Api Response2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2020, 920]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3002/taxonomy/bulk-upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ $json.validItems.toJsonString() }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "32b3ae04-21ad-4049-a9d9-21f8e28c9f14",
      "name": "Mongodb upsert endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 920],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3002/taxonomy/bulk-upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ $json.validItems.toJsonString() }}\n}",
        "options": {}
      },
      "id": "095366db-330c-42a3-9b6e-08f22ae18e7e",
      "name": "Mongodb upsert endpoint1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 640],
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "DUMP\n",
        "height": 241.6702253082806,
        "color": 7
      },
      "id": "369a5a00-b085-428f-9ddd-de16493c5161",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1440, 1400]
    },
    {
      "parameters": {
        "content": "Template",
        "height": 686.7944282452692,
        "width": 3809.624734830003,
        "color": 4
      },
      "id": "3f776ad0-05ee-454c-8f76-1720f6eb2780",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-660, 463.9292707373164]
    },
    {
      "parameters": {
        "jsCode": "const files = $('Find docx/docs').all();\nconst docs = [];\nconst docxs = [];\n\n// Track doc names using a Set with normalized names\nconst docNamesSet = new Set();\n\n// Helper function to normalize filenames by removing extensions and trimming whitespace\nfunction normalizeFileName(name) {\n  return name.replace(/\\.(docx|doc)$/i, '').trim().toLowerCase();\n}\n\n// First pass: Collect all docs and track their names in the Set\nfiles.forEach((obj) => {\n  if (obj.json.mimeType === 'application/vnd.google-apps.document') {\n    docs.push({ json: obj.json });\n    const normalizedFileName = normalizeFileName(obj.json.name);\n    docNamesSet.add(normalizedFileName); // Track normalized name\n  }\n});\n\n// Second pass: Add only those docx files whose names are not in the docNamesSet\nfiles.forEach((obj) => {\n  if (obj.json.mimeType !== 'application/vnd.google-apps.document') {\n    const normalizedFileName = normalizeFileName(obj.json.name);\n    \n    // Only add to docxs if a doc with the same base name doesn't exist\n    if (!docNamesSet.has(normalizedFileName)) {\n      docxs.push({ json: obj.json });\n    } else {\n      console.log(\"Ignoring redundant docx:\", obj.json.name);\n    }\n  }\n});\n\nif (docs.length === 0 && docxs.length === 0) {\n  console.log(\"Error\");\n  return [{\n    json: {\n      error: \"Did not find any valid files!\"\n    }\n  }];\n} else if (docxs.length > 0) {\n   console.log(\"Converting new docxs\");\n  return docxs;\n} else {\n  console.log(\"Pushing updates\");\n  return docs;\n}\n"
      },
      "id": "a80de3ad-e253-43ba-9328-95d0ac36bc46",
      "name": "Filter out redundant docx",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 700]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBc_9YLs6CvS9PMY4hgz9yh3wdWBiRsk",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "c7ab162e-f4d8-4481-8b3b-f62acba8624d",
      "name": "CLDc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1280, -80],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "content": "Business Units Triggers (Need to be added manually)\nFile Create\n",
        "height": 838.5124438649875,
        "width": 595.603411011949,
        "color": 5
      },
      "id": "1f0c9af9-12f3-4997-994c-b174f4f20f0a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1600, -160]
    },
    {
      "parameters": {
        "content": "Business Units Triggers (Need to be added manually)\nFile Update\n",
        "height": 838.5124438649875,
        "width": 570.9307463451838,
        "color": 6
      },
      "id": "9bf2604e-266e-4a5e-a59b-4e62b9b92543",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1580, 780]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OsvnsVlxTJ4SWkyoZrrUhTiIt9MwgDA2",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f7710f47-d352-441a-820d-67c49cc310da",
      "name": "FINu1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 100],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI",
          "mode": "list",
          "cachedResultName": "QA_QUALITY_ASSURANCE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "b820a6c2-d348-4752-8ebe-9f28dbb10047",
      "name": "QAu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, 1260],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zt8oGU2fEwvCSkUV1e-_4URqUDsGipxG",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "18097e4d-b5ba-484b-a812-6a50bf399f03",
      "name": "ADMc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, -80],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBc_9YLs6CvS9PMY4hgz9yh3wdWBiRsk",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "51211ab1-f53f-4f79-ac41-2d0293c5676a",
      "name": "CLDu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1280, 900],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19E1oFcB-5q1IAx_Ua2XxU_8eBY5G90ea",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "50e6d45c-a69a-4f3d-ba16-d227ef484aa1",
      "name": "AIc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, -80],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19E1oFcB-5q1IAx_Ua2XxU_8eBY5G90ea",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "05e3fbb0-47f2-49e5-b776-5f36d499f707",
      "name": "AIu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, 900],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v0_tTP_kuACgEnuvm7bPqhAfeNMm-yqE",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "6e72d1a7-1126-4648-8f59-c5ac6e03c9b9",
      "name": "DATAc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, -80],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zt8oGU2fEwvCSkUV1e-_4URqUDsGipxG",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "bafd3d28-68a9-4ae9-9657-f0879c5707ec",
      "name": "ADMu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 900],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "10wQEskYwsKXOKk3FusZKt0HSCDTi1rjr",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "cd6ff363-0163-46cb-adcb-63077bbffbf4",
      "name": "HRc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, 100],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v0_tTP_kuACgEnuvm7bPqhAfeNMm-yqE",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a5b4f01a-9904-4c56-844b-51eaaec26027",
      "name": "DATAu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, 900],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qjeAvCJU6zZPC25bp1_Ub8f_oHmB5F-Z",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "39fa2af2-ac67-4918-81fe-b4d07b9dcb58",
      "name": "ITc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1260, 100],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OsvnsVlxTJ4SWkyoZrrUhTiIt9MwgDA2",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "83f0ee2f-093c-47e2-8ab8-9cbd16dfd045",
      "name": "FINu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 1080],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UDEot1yr2MPmshrz4ytH4BbvqYnMd3Ax",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "865605fa-2ede-4ccc-b714-3f95f47ce6a2",
      "name": "MKTc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, 100],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "10wQEskYwsKXOKk3FusZKt0HSCDTi1rjr",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "df422fb5-8d24-4944-ba04-c450827fbf53",
      "name": "HRu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, 1080],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI",
          "mode": "list",
          "cachedResultName": "QA_QUALITY_ASSURANCE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "b6b15ceb-4918-415a-8c4b-01dd69a7aaba",
      "name": "PMOc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 280],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UDEot1yr2MPmshrz4ytH4BbvqYnMd3Ax",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "15a0121c-56b2-4a4b-8db3-0c5c365d9f5a",
      "name": "MKTu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, 1080],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI",
          "mode": "list",
          "cachedResultName": "QA_QUALITY_ASSURANCE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "102abfb9-edd7-412c-9a34-158274559961",
      "name": "QAc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1400, 280],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qjeAvCJU6zZPC25bp1_Ub8f_oHmB5F-Z",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "9e7edcb1-36a3-479f-8bc9-7f9f8ee9cfac",
      "name": "ITu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1260, 1080],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BF43w7iXDdu1O4CTYUetPdrqN2q0N2pz",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "648ab1cf-fd1b-41f4-9ace-aeca170091c9",
      "name": "SLSc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1260, 280],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI",
          "mode": "list",
          "cachedResultName": "QA_QUALITY_ASSURANCE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZrUQwt-ezLHPTcQ9ejzjE7KarpP_a6oI"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a21c1312-5873-4194-bb30-b8a654fea96e",
      "name": "PMOu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 1260],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19dQeHLiGyHHzYwc7oekBTS2qQC7nxA4O",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "8210d0ff-42c0-4a70-8594-dfffc445c34d",
      "name": "SWc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, 280],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BF43w7iXDdu1O4CTYUetPdrqN2q0N2pz",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "25afe297-62b4-4a1e-b79a-55646317f2e8",
      "name": "SLSu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1260, 1260],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1S3sCB-xidj7xdHzGmMsstf92XcUUIFgY",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "dfce3a79-52fa-4676-9a17-43667a80742e",
      "name": "VSc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 460],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19dQeHLiGyHHzYwc7oekBTS2qQC7nxA4O",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "b7db4cd4-5fc0-475f-9e9a-fd29721fea79",
      "name": "SWu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1140, 1260],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1S3sCB-xidj7xdHzGmMsstf92XcUUIFgY",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "4b73762e-1124-46fd-b988-a67d8465e4c6",
      "name": "VSu",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-1540, 1440],
      "credentials": {
        "googleApi": {
          "id": "FDGiqL6vNqHjbN9K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3005/email/send-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflowName\": \"Taxonmy Sync Workflow success!\"\n}",
        "options": {}
      },
      "name": "Send Success Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2860, 580],
      "id": "fce58421-b689-47e8-a5b7-382f8f376254"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3005/email/send-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"error\": \"An error occurred during the workflow.\",\n  \"workflowName\": \"Employee Sync Workflow\"\n}",
        "options": {}
      },
      "name": "Send Error Notification API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2860, 760],
      "id": "8fadc0ca-418d-4b26-809d-a94492a4da8a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3005/email/send-success",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflowName\": \"Taxonmy Sync Workflow success!\"\n}",
        "options": {}
      },
      "name": "Send Success Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2500, 840],
      "id": "a8ac3f77-adb7-4b2e-a859-e7c8f53bcff6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.203.84:3005/email/send-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"error\": \"An error occurred during the workflow.\",\n  \"workflowName\": \"Employee Sync Workflow\"\n}",
        "options": {}
      },
      "name": "Send Error Notification API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2500, 980],
      "id": "a6d3261f-e6a9-41fe-bf3a-e80d1154ad38"
    }
  ],
  "pinData": {},
  "connections": {
    "If type is docx": {
      "main": [
        [
          {
            "node": "Convert docx to doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If collection exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find docx/docs": {
      "main": [
        [
          {
            "node": "Filter out redundant docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get parent folder details": {
      "main": [
        [
          {
            "node": "Get token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get document data": {
      "main": [
        [
          {
            "node": "Validate File contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If collection exists": {
      "main": [
        [
          {
            "node": "Find doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get document data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find doc": {
      "main": [
        [
          {
            "node": "get existing data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get existing data": {
      "main": [
        [
          {
            "node": "Filter items to update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter items to update": {
      "main": [
        [
          {
            "node": "If item has error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get token": {
      "main": [
        [
          {
            "node": "Get data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If item has error": {
      "main": [
        [],
        [
          {
            "node": "Revalidate content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate content": {
      "main": [
        [
          {
            "node": "Store into array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File contents": {
      "main": [
        [
          {
            "node": "Store into array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store into array": {
      "main": [
        [
          {
            "node": "If valid item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store into array1": {
      "main": [
        [
          {
            "node": "If valid item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid item": {
      "main": [
        [
          {
            "node": "Mongodb upsert endpoint1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid item1": {
      "main": [
        [
          {
            "node": "Mongodb upsert endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data": {
      "main": [
        [
          {
            "node": "Find docx/docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mongodb upsert endpoint": {
      "main": [
        [
          {
            "node": "Check Api Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mongodb upsert endpoint1": {
      "main": [
        [
          {
            "node": "Check Api Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out redundant docx": {
      "main": [
        [
          {
            "node": "If type is docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLDc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINu1": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QAu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADMc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLDu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AIc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AIu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATAc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADMu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HRc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATAu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MKTc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HRu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PMOc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MKTu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QAc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLSc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PMOu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLSu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VSc": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VSu": {
      "main": [
        [
          {
            "node": "Get parent folder details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Api Response": {
      "main": [
        [
          {
            "node": "Send Success Notification API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Api Response2": {
      "main": [
        [
          {
            "node": "Send Success Notification API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7270eeb7-722a-41c9-9cc9-73c81e4f2447",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2175fb2beeee23872604eaa18d0ab71c7b17b5a998e8ae3224ce5ec4e5e3fb21"
  },
  "id": "BPkOt6K96ox5xWEt",
  "tags": []
}
